<launch>
    <node pkg="edgeicp" name="edgeicp_node" type="edgeicp_node" output="screen">
        <!--param name="color_topic_name" type="string" value="/camera/rgb/image_color"/-->
        <!--param name="depth_topic_name" type="string" value="/camera/depth/image"/-->
        <param name="color_topic_name" type="string" value="/camera/rgb/image_rect_color"/>
        <param name="depth_topic_name" type="string" value="/camera/depth_registered/hw_registered/image_rect_raw"/>

        <param name="debug_flag_imshow" type="bool" value="true"/>
        <param name="debug_flag_text" type="bool" value="true"/>


        <param name="nSample" type="int" value="500"/>
        <param name="maxIter" type="int" value="100"/>

    </node>
</launch>
